
.header{
    display: flex;
    align-items: center;
    background-color: #E2B766;
    width: 100%;
    position: fixed;
    width: 100%;
    z-index: 99;

}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header > button:hover{
    background-color: #056033;
    
}

.header .logo {
    max-width: 72px;
}

.header > button{
    color: white;
}
.float-right{
    float: right;
}
