<app-header></app-header>
    <div class="d-flex">
        <div class="container-fluid">
            <div class="col-md-12">
                <div class="col-md-4 float-left">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title>Pizza salgada</mat-card-title>
                            <mat-card-subtitle>A moda da casa</mat-card-subtitle>
                        </mat-card-header>
                            <img mat-card-image src="../../../../assets/imagens/a-moda-da-casa.jpg" alt="Photo of a Shiba Inu" class="foto-card">
                        <mat-card-content>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                In congue felis vitae nulla aliquam posuere. Vivamus ullamcorper vel enim a tincidunt. 
                                Ut consequat rutrum orci et faucibus. Donec dictum lectus sed sapien consectetur lacinia. 
                                Phasellus a ipsum ac nunc auctor cursus. Aenean semper, libero id sagittis placerat, 
                                sem mi condimentum lectus, vel finibus lacus nisi at sem. Suspendisse at scelerisque turpis.
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-raised-button color="primary" routerLink="/cadastrar">Pedir</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
                <div class="col-md-4 float-right">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title>Pizza salgada</mat-card-title>
                            <mat-card-subtitle>Portuguesa</mat-card-subtitle>
                        </mat-card-header>
                            <img mat-card-image src="../../../../assets/imagens/portuguesa.jpg" alt="Photo of a Shiba Inu" class="foto-card">
                        <mat-card-content>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                In congue felis vitae nulla aliquam posuere. Vivamus ullamcorper vel enim a tincidunt. 
                                Ut consequat rutrum orci et faucibus. Donec dictum lectus sed sapien consectetur lacinia. 
                                Phasellus a ipsum ac nunc auctor cursus. Aenean semper, libero id sagittis placerat, 
                                sem mi condimentum lectus, vel finibus lacus nisi at sem. Suspendisse at scelerisque turpis.
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-raised-button color="primary" routerLink="/cadastrar">Pedir</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
                <div class="col-md-4 float-right">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title>Pizza salgada</mat-card-title>
                            <mat-card-subtitle>Frango com catupiry</mat-card-subtitle>
                        </mat-card-header>
                            <img mat-card-image src="../../../../assets/imagens/frango-catupiry.jpg" alt="Photo of a Shiba Inu" class="foto-card">
                        <mat-card-content>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                In congue felis vitae nulla aliquam posuere. Vivamus ullamcorper vel enim a tincidunt. 
                                Ut consequat rutrum orci et faucibus. Donec dictum lectus sed sapien consectetur lacinia. 
                                Phasellus a ipsum ac nunc auctor cursus. Aenean semper, libero id sagittis placerat, 
                                sem mi condimentum lectus, vel finibus lacus nisi at sem. Suspendisse at scelerisque turpis.
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-raised-button color="primary" routerLink="/cadastrar">Pedir</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
                <div class="col-md-4 float-right">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title>Pizza salgada</mat-card-title>
                            <mat-card-subtitle>Calabresa</mat-card-subtitle>
                        </mat-card-header>
                            <img mat-card-image src="../../../../assets/imagens/calabresa.jpg" alt="Photo of a Shiba Inu" class="foto-card">
                        <mat-card-content>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                In congue felis vitae nulla aliquam posuere. Vivamus ullamcorper vel enim a tincidunt. 
                                Ut consequat rutrum orci et faucibus. Donec dictum lectus sed sapien consectetur lacinia. 
                                Phasellus a ipsum ac nunc auctor cursus. Aenean semper, libero id sagittis placerat, 
                                sem mi condimentum lectus, vel finibus lacus nisi at sem. Suspendisse at scelerisque turpis.
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-raised-button color="primary" routerLink="/cadastrar">Pedir</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
                <div class="col-md-4 float-right">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title>Pizza salgada</mat-card-title>
                            <mat-card-subtitle>Muçarella</mat-card-subtitle>
                        </mat-card-header>
                            <img mat-card-image src="../../../../assets/imagens/mucarela.jpg" alt="Photo of a Shiba Inu" class="foto-card">
                        <mat-card-content>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                In congue felis vitae nulla aliquam posuere. Vivamus ullamcorper vel enim a tincidunt. 
                                Ut consequat rutrum orci et faucibus. Donec dictum lectus sed sapien consectetur lacinia. 
                                Phasellus a ipsum ac nunc auctor cursus. Aenean semper, libero id sagittis placerat, 
                                sem mi condimentum lectus, vel finibus lacus nisi at sem. Suspendisse at scelerisque turpis.
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-raised-button color="primary" routerLink="/cadastrar">Pedir</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
                <div class="col-md-4 float-right">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title>Pizza salgada</mat-card-title>
                            <mat-card-subtitle>Napolitano</mat-card-subtitle>
                        </mat-card-header>
                            <img mat-card-image src="../../../../assets/imagens/napolitano.jpg" alt="Photo of a Shiba Inu" class="foto-card">
                        <mat-card-content>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                In congue felis vitae nulla aliquam posuere. Vivamus ullamcorper vel enim a tincidunt. 
                                Ut consequat rutrum orci et faucibus. Donec dictum lectus sed sapien consectetur lacinia. 
                                Phasellus a ipsum ac nunc auctor cursus. Aenean semper, libero id sagittis placerat, 
                                sem mi condimentum lectus, vel finibus lacus nisi at sem. Suspendisse at scelerisque turpis.
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-raised-button color="primary" routerLink="/cadastrar">Pedir</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
                <div class="col-md-4 float-right">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title>Pizza salgada</mat-card-title>
                            <mat-card-subtitle>Marguerita</mat-card-subtitle>
                        </mat-card-header>
                            <img mat-card-image src="../../../../assets/imagens/marguerita.jpg" alt="Photo of a Shiba Inu" class="foto-card">
                        <mat-card-content>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                In congue felis vitae nulla aliquam posuere. Vivamus ullamcorper vel enim a tincidunt. 
                                Ut consequat rutrum orci et faucibus. Donec dictum lectus sed sapien consectetur lacinia. 
                                Phasellus a ipsum ac nunc auctor cursus. Aenean semper, libero id sagittis placerat, 
                                sem mi condimentum lectus, vel finibus lacus nisi at sem. Suspendisse at scelerisque turpis.
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-raised-button color="primary" routerLink="/cadastrar">Pedir</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
                <div class="col-md-4 float-right">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title>Pizza salgada</mat-card-title>
                            <mat-card-subtitle>Batata frita</mat-card-subtitle>
                        </mat-card-header>
                            <img mat-card-image src="../../../../assets/imagens/batata-frita.jpg" alt="Photo of a Shiba Inu" class="foto-card">
                        <mat-card-content>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                In congue felis vitae nulla aliquam posuere. Vivamus ullamcorper vel enim a tincidunt. 
                                Ut consequat rutrum orci et faucibus. Donec dictum lectus sed sapien consectetur lacinia. 
                                Phasellus a ipsum ac nunc auctor cursus. Aenean semper, libero id sagittis placerat, 
                                sem mi condimentum lectus, vel finibus lacus nisi at sem. Suspendisse at scelerisque turpis.
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-raised-button color="primary" routerLink="/cadastrar">Pedir</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
                <div class="col-md-4 float-right">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title>Pizza salgada</mat-card-title>
                            <mat-card-subtitle>Hot dog</mat-card-subtitle>
                        </mat-card-header>
                            <img mat-card-image src="../../../../assets/imagens/hotdog.jpg" alt="Photo of a Shiba Inu" class="foto-card">
                        <mat-card-content>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                In congue felis vitae nulla aliquam posuere. Vivamus ullamcorper vel enim a tincidunt. 
                                Ut consequat rutrum orci et faucibus. Donec dictum lectus sed sapien consectetur lacinia. 
                                Phasellus a ipsum ac nunc auctor cursus. Aenean semper, libero id sagittis placerat, 
                                sem mi condimentum lectus, vel finibus lacus nisi at sem. Suspendisse at scelerisque turpis.
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-raised-button color="primary" routerLink="/cadastrar">Pedir</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
                <div class="col-md-4 float-right">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title>Pizza doce</mat-card-title>
                            <mat-card-subtitle>Avelã com chocolate</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="../../../../assets/imagens/avela-chocolate.jpg" alt="Photo of a Shiba Inu" class="foto-card">
                        <mat-card-content>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                In congue felis vitae nulla aliquam posuere. Vivamus ullamcorper vel enim a tincidunt. 
                                Ut consequat rutrum orci et faucibus. Donec dictum lectus sed sapien consectetur lacinia. 
                                Phasellus a ipsum ac nunc auctor cursus. Aenean semper, libero id sagittis placerat, 
                                sem mi condimentum lectus, vel finibus lacus nisi at sem. Suspendisse at scelerisque turpis.
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-raised-button color="primary" routerLink="/cadastrar">Pedir</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
                <div class="col-md-4 float-right">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title>Pizza doce</mat-card-title>
                            <mat-card-subtitle>Banofe</mat-card-subtitle>
                        </mat-card-header>
                            <img mat-card-image src="../../../../assets/imagens/banofe.jpg" alt="Photo of a Shiba Inu" class="foto-card">
                        <mat-card-content>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                In congue felis vitae nulla aliquam posuere. Vivamus ullamcorper vel enim a tincidunt. 
                                Ut consequat rutrum orci et faucibus. Donec dictum lectus sed sapien consectetur lacinia. 
                                Phasellus a ipsum ac nunc auctor cursus. Aenean semper, libero id sagittis placerat, 
                                sem mi condimentum lectus, vel finibus lacus nisi at sem. Suspendisse at scelerisque turpis.
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-raised-button color="primary" routerLink="/cadastrar">Pedir</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
                <div class="col-md-4 float-right">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title>Pizza doce</mat-card-title>
                            <mat-card-subtitle>Brigadeiro</mat-card-subtitle>
                        </mat-card-header>
                            <img mat-card-image src="../../../../assets/imagens/brigadeiro.jpg" alt="Photo of a Shiba Inu" class="foto-card">
                        <mat-card-content>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                In congue felis vitae nulla aliquam posuere. Vivamus ullamcorper vel enim a tincidunt. 
                                Ut consequat rutrum orci et faucibus. Donec dictum lectus sed sapien consectetur lacinia. 
                                Phasellus a ipsum ac nunc auctor cursus. Aenean semper, libero id sagittis placerat, 
                                sem mi condimentum lectus, vel finibus lacus nisi at sem. Suspendisse at scelerisque turpis.
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-raised-button color="primary" routerLink="/cadastrar">Pedir</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
                <div class="col-md-4 float-right">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title>Pizza doce</mat-card-title>
                            <mat-card-subtitle>Coco com chocolate</mat-card-subtitle>
                        </mat-card-header>
                            <img mat-card-image src="../../../../assets/imagens/coco-chocolate.jpg" alt="Photo of a Shiba Inu" class="foto-card">
                        <mat-card-content>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                In congue felis vitae nulla aliquam posuere. Vivamus ullamcorper vel enim a tincidunt. 
                                Ut consequat rutrum orci et faucibus. Donec dictum lectus sed sapien consectetur lacinia. 
                                Phasellus a ipsum ac nunc auctor cursus. Aenean semper, libero id sagittis placerat, 
                                sem mi condimentum lectus, vel finibus lacus nisi at sem. Suspendisse at scelerisque turpis.
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-raised-button color="primary" routerLink="/cadastrar">Pedir</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
                <div class="col-md-4 float-right">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title>Pizza doce</mat-card-title>
                            <mat-card-subtitle>Mm's</mat-card-subtitle>
                        </mat-card-header>
                            <img mat-card-image src="../../../../assets/imagens/mms.jpg" alt="Photo of a Shiba Inu" class="foto-card">
                        <mat-card-content>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                In congue felis vitae nulla aliquam posuere. Vivamus ullamcorper vel enim a tincidunt. 
                                Ut consequat rutrum orci et faucibus. Donec dictum lectus sed sapien consectetur lacinia. 
                                Phasellus a ipsum ac nunc auctor cursus. Aenean semper, libero id sagittis placerat, 
                                sem mi condimentum lectus, vel finibus lacus nisi at sem. Suspendisse at scelerisque turpis.
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-raised-button color="primary" routerLink="/cadastrar">Pedir</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
                <div class="col-md-4 float-right">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title>Pizza doce</mat-card-title>
                            <mat-card-subtitle>Morango com brigadeiro</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="../../../../assets/imagens/morango-brigadeiro.jpg" alt="Photo of a Shiba Inu" class="foto-card">
                        <mat-card-content>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                In congue felis vitae nulla aliquam posuere. Vivamus ullamcorper vel enim a tincidunt. 
                                Ut consequat rutrum orci et faucibus. Donec dictum lectus sed sapien consectetur lacinia. 
                                Phasellus a ipsum ac nunc auctor cursus. Aenean semper, libero id sagittis placerat, 
                                sem mi condimentum lectus, vel finibus lacus nisi at sem. Suspendisse at scelerisque turpis.
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-raised-button color="primary" routerLink="/cadastrar">Pedir</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
                <div class="col-md-4 float-right">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title>Pizza doce</mat-card-title>
                            <mat-card-subtitle>Morango com chocolate</mat-card-subtitle>
                        </mat-card-header>
                            <img mat-card-image src="../../../../assets/imagens/morango-chocolate.jpg" alt="Photo of a Shiba Inu" class="foto-card">
                        <mat-card-content>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                In congue felis vitae nulla aliquam posuere. Vivamus ullamcorper vel enim a tincidunt. 
                                Ut consequat rutrum orci et faucibus. Donec dictum lectus sed sapien consectetur lacinia. 
                                Phasellus a ipsum ac nunc auctor cursus. Aenean semper, libero id sagittis placerat, 
                                sem mi condimentum lectus, vel finibus lacus nisi at sem. Suspendisse at scelerisque turpis.
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-raised-button color="primary" routerLink="/cadastrar">Pedir</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
                <div class="col-md-4 float-right">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title>Pizza doce</mat-card-title>
                            <mat-card-subtitle>Romeu e julieta</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="../../../../assets/imagens/romeu-julieta.jpg" alt="Photo of a Shiba Inu" class="foto-card">
                        <mat-card-content>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                In congue felis vitae nulla aliquam posuere. Vivamus ullamcorper vel enim a tincidunt. 
                                Ut consequat rutrum orci et faucibus. Donec dictum lectus sed sapien consectetur lacinia. 
                                Phasellus a ipsum ac nunc auctor cursus. Aenean semper, libero id sagittis placerat, 
                                sem mi condimentum lectus, vel finibus lacus nisi at sem. Suspendisse at scelerisque turpis.
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-raised-button color="primary" routerLink="/cadastrar">Pedir</button>
                        </mat-card-actions>
                    </mat-card>
                </div>  
                <div class="col-md-4 float-right">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title>Pizza doce</mat-card-title>
                            <mat-card-subtitle>Especial doce</mat-card-subtitle>
                        </mat-card-header>
                            <img mat-card-image src="../../../../assets/imagens/especial-doce.jpg" alt="Photo of a Shiba Inu" class="foto-card">
                        <mat-card-content>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                In congue felis vitae nulla aliquam posuere. Vivamus ullamcorper vel enim a tincidunt. 
                                Ut consequat rutrum orci et faucibus. Donec dictum lectus sed sapien consectetur lacinia. 
                                Phasellus a ipsum ac nunc auctor cursus. Aenean semper, libero id sagittis placerat, 
                                sem mi condimentum lectus, vel finibus lacus nisi at sem. Suspendisse at scelerisque turpis.
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-raised-button color="primary" routerLink="/cadastrar">Pedir</button>
                        </mat-card-actions>
                    </mat-card>
                </div>  
            </div>
        </div>
    </div>
<app-footer></app-footer>