<app-sistema-header></app-sistema-header>
<div class="container">
  <div class="row">
        <div class="col-md-12">
              <h1>PEDIDOS REALIZADOS:</h1>
              <table mat-table [dataSource]="clientes.pedido" class="mat-elevation-z8 demo-table float-right col-md-10"
              style="margin-top: 5%;">
                <!-- Name Column -->
                <ng-container matColumnDef="Sabor">
                  <th mat-header-cell *matHeaderCellDef>Sabor</th>
                  <td mat-cell *matCellDef="let row">{{row.saborDaPizza}}</td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="Borda">
                  <th mat-header-cell *matHeaderCellDef>Borda</th>
                  <td mat-cell *matCellDef="let row">{{row.borda}}</td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="Preco">
                  <th mat-header-cell *matHeaderCellDef>Preço</th>
                  <td mat-cell *matCellDef="let row">{{row.valor | currency}}</td>
                </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
      </div>
  </div>
</div>
<app-sistema-menu></app-sistema-menu>