<app-header></app-header>
    <div class="d-flex">
        <div class="container-fluid">
            <div class="col-md-12">
                <div class="col-md-4 float-left">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title>Pizza salgada</mat-card-title>
                            <mat-card-subtitle>A moda da casa</mat-card-subtitle>
                        </mat-card-header>
                            <img mat-card-image src="../../../../assets/imagens/a-moda-da-casa.jpg" alt="Photo of a Shiba Inu" class="foto-card">
                        <mat-card-content>
                            <h2>Ingredientes:</h2>
                                <mat-list role="list">
                                    <ul>
                                        <li>Azeite</li>
                                        <li>Frango</li>
                                        <li>Orégano</li>
                                        <li>Queijo catupiry</li>
                                        <li>Mlho</li>
                                        <li>Ervilha</li>
                                    </ul>
                                </mat-list>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-raised-button color="primary" routerLink="/cadastrar">Pedir</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
                <div class="col-md-4 float-right">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title>Pizza salgada</mat-card-title>
                            <mat-card-subtitle>Portuguesa</mat-card-subtitle>
                        </mat-card-header>
                            <img mat-card-image src="../../../../assets/imagens/portuguesa.jpg" alt="Photo of a Shiba Inu" class="foto-card">
                        <mat-card-content>
                            <h2>Ingredientes:</h2>
                                <mat-list role="list">
                                    <ul>
                                        <li>Mussarela</li>
                                        <li>Presunto</li>
                                        <li>Tomate</li>
                                        <li>Ovo</li>
                                        <li>Cebola</li>
                                        <li>Molho de tomate</li>
                                    </ul>
                                </mat-list>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-raised-button color="primary" routerLink="/cadastrar">Pedir</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
                <div class="col-md-4 float-right">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title>Pizza salgada</mat-card-title>
                            <mat-card-subtitle>Frango com catupiry</mat-card-subtitle>
                        </mat-card-header>
                            <img mat-card-image src="../../../../assets/imagens/frango-catupiry.jpg" alt="Photo of a Shiba Inu" class="foto-card">
                        <mat-card-content>
                            <h2>Ingredientes:</h2>
                                <mat-list role="list">
                                    <ul>
                                        <li>Azeite</li>
                                        <li>Frango</li>
                                        <li>Orégano</li>
                                        <li>Queijo catupiry</li>
                                        <li>Mlho</li>
                                        <li>Ervilha</li>
                                    </ul>
                                </mat-list>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-raised-button color="primary" routerLink="/cadastrar">Pedir</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
                <div class="col-md-4 float-right">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title>Pizza salgada</mat-card-title>
                            <mat-card-subtitle>Calabresa</mat-card-subtitle>
                        </mat-card-header>
                            <img mat-card-image src="../../../../assets/imagens/calabresa.jpg" alt="Photo of a Shiba Inu" class="foto-card">
                        <mat-card-content>
                            <h2>Ingredientes:</h2>
                                <mat-list role="list">
                                    <ul>
                                        <li>Calabresa</li>
                                        <li>Cebola</li>
                                        <li>Orégano</li>
                                        <li>Mlho</li>
                                        <li>Ervilha</li>
                                    </ul>
                                </mat-list>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-raised-button color="primary" routerLink="/cadastrar">Pedir</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
                <div class="col-md-4 float-right">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title>Pizza salgada</mat-card-title>
                            <mat-card-subtitle>Muçarela</mat-card-subtitle>
                        </mat-card-header>
                            <img mat-card-image src="../../../../assets/imagens/mucarela.jpg" alt="Photo of a Shiba Inu" class="foto-card">
                        <mat-card-content>
                            <h2>Ingredientes:</h2>
                                <mat-list role="list">
                                    <ul>
                                        <li>Azeite</li>
                                        <li>Muçaarela</li>
                                        <li>Provolone</li>
                                        <li>Mlho</li>
                                        <li>Ervilha</li>
                                    </ul>
                                </mat-list>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-raised-button color="primary" routerLink="/cadastrar">Pedir</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
                <div class="col-md-4 float-right">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title>Pizza salgada</mat-card-title>
                            <mat-card-subtitle>Napolitano</mat-card-subtitle>
                        </mat-card-header>
                            <img mat-card-image src="../../../../assets/imagens/napolitano.jpg" alt="Photo of a Shiba Inu" class="foto-card">
                        <mat-card-content>
                            <h2>Ingredientes:</h2>
                            <mat-list role="list">
                              <ul>
                                  <li>Azeite</li>
                                  <li>Molho de tomate</li>
                                  <li>Mussatela</li>
                                  <li>Orégano</li>
                                  <li>Azeitonas</li>
                              </ul>
                            </mat-list>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-raised-button color="primary" routerLink="/cadastrar">Pedir</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
                <div class="col-md-4 float-right">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title>Pizza salgada</mat-card-title>
                            <mat-card-subtitle>Marguerita</mat-card-subtitle>
                        </mat-card-header>
                            <img mat-card-image src="../../../../assets/imagens/marguerita.jpg" alt="Photo of a Shiba Inu" class="foto-card">
                        <mat-card-content>
                            <h2>Ingredientes:</h2>
                                <mat-list role="list">
                                    <ul>
                                        <li>Molho de tomate</li>
                                        <li>Mussarela</li>
                                        <li>Manjericão</li>
                                        <li>Azeite</li>
                                        <li>Orégano</li>
                                        <li>Queijo ralado</li>
                                    </ul>
                                </mat-list>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-raised-button color="primary" routerLink="/cadastrar">Pedir</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
                <div class="col-md-4 float-right">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title>Pizza salgada</mat-card-title>
                            <mat-card-subtitle>Batata frita</mat-card-subtitle>
                        </mat-card-header>
                            <img mat-card-image src="../../../../assets/imagens/batata-frita.jpg" alt="Photo of a Shiba Inu" class="foto-card">
                        <mat-card-content>
                            <h2>Ingredientes:</h2>
                            <mat-list role="list">
                                <ul>
                                    <li>Batata</li>
                                    <li>Mussarela</li>
                                    <li>Cheddar</li>
                                    <li>Azeite</li>
                                    <li>Orégano</li>
                                    <li>Queijo ralado</li>
                                </ul>
                            </mat-list>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-raised-button color="primary" routerLink="/cadastrar">Pedir</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
                    <div class="col-md-4 float-right">
                        <mat-card class="example-card">
                            <mat-card-header>
                                <mat-card-title>Pizza salgada</mat-card-title>
                                <mat-card-subtitle>Hot dog</mat-card-subtitle>
                            </mat-card-header>
                            <img mat-card-image src="../../../../assets/imagens/hotdog.jpg" alt="Photo of a Shiba Inu" class="foto-card">
                            <mat-card-content>
                                <h2>Ingredientes:</h2>
                                <mat-list role="list">
                                    <ul>
                                        <li>Molho de tomate</li>
                                        <li>Salsicha</li>
                                        <li>Batata palha</li>
                                        <li>Azeite</li>
                                        <li>Orégano</li>
                                        <li>Queijo ralado</li>
                                    </ul>
                                </mat-list>
                            </mat-card-content>
                            <mat-card-actions>
                                <button mat-raised-button color="primary" routerLink="/cadastrar">Pedir</button>
                            </mat-card-actions>
                        </mat-card>
                 </div>
            </div>  
        </div>
    </div>
<app-footer></app-footer>