<div *ngIf="LoaderService.isLoading | async" class="loader-container">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<mat-toolbar class="header mat-elevation-z4">
    <span>
        <a routerLink="">
            <img class="logo" src="assets/imagens/pizarria.png" alt="logo">
        </a>
    </span>
    <button mat-button [matMenuTriggerFor]="aboveMenu" class="btn_header">Entre</button>
    <mat-menu #aboveMenu="matMenu" yPosition="above">
        <button mat-menu-item routerLink="/cadastrar">Cadastrar-se</button>
        <button mat-menu-item routerLink="/login">Entrar</button>
    </mat-menu>
    
    <button mat-button [matMenuTriggerFor]="cardapio">Cardápio</button>
    <mat-menu #cardapio="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="pizza">Pizzas</button>
    <button mat-menu-item [matMenuTriggerFor]="bebidas">Bebidas</button>
    <button mat-menu-item [matMenuTriggerFor]="combos">Combos</button>
    </mat-menu>

    <mat-menu #pizza="matMenu">
        <button mat-menu-item routerLink="/pizzas-salgadas">Salgadas</button>
        <button mat-menu-item routerLink="/pizzas-doces">Doces</button>
        <button mat-menu-item routerLink="/pizzas-veganas">Veganas</button>
    </mat-menu>

    <mat-menu #bebidas="matMenu">
        <button mat-menu-item routerLink="/bebidas-alcolicas">Alcólicas</button>
        <button mat-menu-item routerLink="/bebidas-nao-alcolicas">Não alcólicas</button>
        <button mat-menu-item routerLink="/drinks">Drinks</button>
    </mat-menu>

    <mat-menu #combos="matMenu">
        <button mat-menu-item routerLink="/combos">Combos(mais pedidos)</button>
        <button mat-menu-item routerLink="/combos-bebidas-drinks">Combos(com drinks)</button>
        <button mat-menu-item routerLink="/combos-bebidas-alcolicas">Combos(com bebidas alcólicas)</button>
        <button mat-menu-item routerLink="/combos-refrigerante">Combos(com refrigerantes)</button>

    </mat-menu>


    <button mat-button routerLink="/loja">Lojas</button>


    <button mat-button routerLink="/login">Pedir</button>
    
</mat-toolbar>