<app-header></app-header>
    <div class="d-flex">
        <div class="container-fluid">
          <div class="col-md-12">
              <div class="col-md-3 float-left">
                  <mat-card class="example-card">
                      <mat-card-header>
                        <mat-card-title>Coca cola</mat-card-title>
                        <mat-card-subtitle>2 LITROS</mat-card-subtitle>
                      </mat-card-header>
                      <img mat-card-image src="../../../assets/imagens/bebidas-nao-alcolicas/coca-2l.jpg" alt="Photo of a Shiba Inu" class="foto-card">
                      <mat-card-content>
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                          In congue felis vitae nulla aliquam posuere. Vivamus ullamcorper vel enim a tincidunt. 
                          Ut consequat rutrum orci et faucibus. Donec dictum lectus sed sapien consectetur lacinia. 
                          Phasellus a ipsum ac nunc auctor cursus. Aenean semper, libero id sagittis placerat, 
                          sem mi condimentum lectus, vel finibus lacus nisi at sem. Suspendisse at scelerisque
                          turpis.
                        </p>
                      </mat-card-content>
                    </mat-card>
              </div>
              <div class="col-md-3 float-right">
                  <mat-card class="example-card">
                      <mat-card-header>
                        <mat-card-title>Coca cola</mat-card-title>
                        <mat-card-subtitle>350ML</mat-card-subtitle>
                      </mat-card-header>
                      <img mat-card-image src="../../../assets/imagens/bebidas-nao-alcolicas/coca-350.png" alt="Photo of a Shiba Inu" class="foto-card">
                      <mat-card-content>
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                          In congue felis vitae nulla aliquam posuere. Vivamus ullamcorper vel enim a tincidunt. 
                          Ut consequat rutrum orci et faucibus. Donec dictum lectus sed sapien consectetur lacinia. 
                          Phasellus a ipsum ac nunc auctor cursus. Aenean semper, libero id sagittis placerat, 
                          sem mi condimentum lectus, vel finibus lacus nisi at sem. Suspendisse at scelerisque
                          turpis.
                        </p>
                      </mat-card-content>
                    </mat-card>
              </div>
              <div class="col-md-3 float-right">
                  <mat-card class="example-card">
                      <mat-card-header>
                        <mat-card-title>Coca cola</mat-card-title>
                        <mat-card-subtitle>750ML</mat-card-subtitle>
                      </mat-card-header>
                      <img mat-card-image src="../../../assets/imagens/bebidas-nao-alcolicas/coca-750ml.jpg" alt="Photo of a Shiba Inu" class="foto-card">
                      <mat-card-content>
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                          In congue felis vitae nulla aliquam posuere. Vivamus ullamcorper vel enim a tincidunt. 
                          Ut consequat rutrum orci et faucibus. Donec dictum lectus sed sapien consectetur lacinia. 
                          Phasellus a ipsum ac nunc auctor cursus. Aenean semper, libero id sagittis placerat, 
                          sem mi condimentum lectus, vel finibus lacus nisi at sem. Suspendisse at scelerisque
                          turpis.
                        </p>
                      </mat-card-content>
                    </mat-card>
              </div>
              <div class="col-md-3 float-right">
                  <mat-card class="example-card">
                      <mat-card-header>
                        <mat-card-title>Coca cola</mat-card-title>
                        <mat-card-subtitle>3 LITROS</mat-card-subtitle>
                      </mat-card-header>
                      <img mat-card-image src="../../../assets/imagens/bebidas-nao-alcolicas/coca-3l.jpg" alt="Photo of a Shiba Inu" class="foto-card">
                      <mat-card-content>
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                          In congue felis vitae nulla aliquam posuere. Vivamus ullamcorper vel enim a tincidunt. 
                          Ut consequat rutrum orci et faucibus. Donec dictum lectus sed sapien consectetur lacinia. 
                          Phasellus a ipsum ac nunc auctor cursus. Aenean semper, libero id sagittis placerat, 
                          sem mi condimentum lectus, vel finibus lacus nisi at sem. Suspendisse at scelerisque
                          turpis.
                        </p>
                      </mat-card-content>
                    </mat-card>
              </div>
              <div class="col-md-3 float-right">
                  <mat-card class="example-card">
                      <mat-card-header>
                        <mat-card-title>Dolly cola</mat-card-title>
                        <mat-card-subtitle>2 LITROS</mat-card-subtitle>
                      </mat-card-header>
                      <img mat-card-image src="../../../assets/imagens/bebidas-nao-alcolicas/dolly-cola-2l.jpg" alt="Photo of a Shiba Inu" class="foto-card">
                      <mat-card-content>
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                          In congue felis vitae nulla aliquam posuere. Vivamus ullamcorper vel enim a tincidunt. 
                          Ut consequat rutrum orci et faucibus. Donec dictum lectus sed sapien consectetur lacinia. 
                          Phasellus a ipsum ac nunc auctor cursus. Aenean semper, libero id sagittis placerat, 
                          sem mi condimentum lectus, vel finibus lacus nisi at sem. Suspendisse at scelerisque
                          turpis.
                        </p>
                      </mat-card-content>
                    </mat-card>
              </div>
              <div class="col-md-3 float-right">
                  <mat-card class="example-card">
                      <mat-card-header>
                        <mat-card-title>Dolly guaraná</mat-card-title>
                        <mat-card-subtitle>2 LITROS</mat-card-subtitle>
                      </mat-card-header>
                      <img mat-card-image src="../../../assets/imagens/bebidas-nao-alcolicas/dolly-guarana-2l.jpg" alt="Photo of a Shiba Inu" class="foto-card">
                      <mat-card-content>
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                          In congue felis vitae nulla aliquam posuere. Vivamus ullamcorper vel enim a tincidunt. 
                          Ut consequat rutrum orci et faucibus. Donec dictum lectus sed sapien consectetur lacinia. 
                          Phasellus a ipsum ac nunc auctor cursus. Aenean semper, libero id sagittis placerat, 
                          sem mi condimentum lectus, vel finibus lacus nisi at sem. Suspendisse at scelerisque
                          turpis.
                        </p>
                      </mat-card-content>
                    </mat-card>
              </div>
              <div class="col-md-3 float-right">
                  <mat-card class="example-card">
                      <mat-card-header>
                        <mat-card-title>Dolly uva</mat-card-title>
                        <mat-card-subtitle>2 LITROS</mat-card-subtitle>
                      </mat-card-header>
                      <img mat-card-image src="../../../assets/imagens/bebidas-nao-alcolicas/dolly-uva-2l.jpg" alt="Photo of a Shiba Inu" class="foto-card">
                      <mat-card-content>
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                          In congue felis vitae nulla aliquam posuere. Vivamus ullamcorper vel enim a tincidunt. 
                          Ut consequat rutrum orci et faucibus. Donec dictum lectus sed sapien consectetur lacinia. 
                          Phasellus a ipsum ac nunc auctor cursus. Aenean semper, libero id sagittis placerat, 
                          sem mi condimentum lectus, vel finibus lacus nisi at sem. Suspendisse at scelerisque 
                          turpis.
                        </p>
                      </mat-card-content>
                    </mat-card>
              </div>
              <div class="col-md-3 float-right">
                <mat-card class="example-card">
                    <mat-card-header>
                      <mat-card-title>Fanta laranja</mat-card-title>
                      <mat-card-subtitle>2 LITROS</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="../../../assets/imagens/bebidas-nao-alcolicas/fanta-laranja2l.jpg" alt="Photo of a Shiba Inu" class="foto-card">
                    <mat-card-content>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                          In congue felis vitae nulla aliquam posuere. Vivamus ullamcorper vel enim a tincidunt. 
                          Ut consequat rutrum orci et faucibus. Donec dictum lectus sed sapien consectetur lacinia. 
                          Phasellus a ipsum ac nunc auctor cursus. Aenean semper, libero id sagittis placerat, 
                          sem mi condimentum lectus, vel finibus lacus nisi at sem. Suspendisse at scelerisque
                          turpis.
                      </p>
                    </mat-card-content>
                  </mat-card>
            </div>
        </div>
     </div>
  </div>
<app-footer></app-footer>