<app-header></app-header>
    <div class="d-flex">
        <div class="container-fluid">
          <div class="col-md-12">
              <div class="col-md-3 float-left">
                  <mat-card class="example-card">
                      <mat-card-header>
                        <mat-card-title>Black label</mat-card-title>
                        <mat-card-subtitle>2 LITROS</mat-card-subtitle>
                      </mat-card-header>
                      <img mat-card-image src="../../../assets/imagens/bebidas-alcolicas/black-label.jpg" alt="Photo of a Shiba Inu" class="foto-card">
                      <mat-card-content>
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                          In congue felis vitae nulla aliquam posuere. Vivamus ullamcorper vel enim a tincidunt. 
                          Ut consequat rutrum orci et faucibus. Donec dictum lectus sed sapien consectetur lacinia. 
                          Phasellus a ipsum ac nunc auctor cursus. Aenean semper, libero id sagittis placerat, 
                          sem mi condimentum lectus, vel finibus lacus nisi at sem. Suspendisse at scelerisque
                          turpis.
                        </p>
                      </mat-card-content>
                    </mat-card>
              </div>
              <div class="col-md-3 float-right">
                  <mat-card class="example-card">
                      <mat-card-header>
                        <mat-card-title>Red label</mat-card-title>
                        <mat-card-subtitle>2 LITROS</mat-card-subtitle>
                      </mat-card-header>
                      <img mat-card-image src="../../../assets/imagens/bebidas-alcolicas/red-label.jpg" alt="Photo of a Shiba Inu" class="foto-card">
                      <mat-card-content>
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                          In congue felis vitae nulla aliquam posuere. Vivamus ullamcorper vel enim a tincidunt. 
                          Ut consequat rutrum orci et faucibus. Donec dictum lectus sed sapien consectetur lacinia. 
                          Phasellus a ipsum ac nunc auctor cursus. Aenean semper, libero id sagittis placerat, 
                          sem mi condimentum lectus, vel finibus lacus nisi at sem. Suspendisse at scelerisque
                          turpis.
                        </p>
                      </mat-card-content>
                    </mat-card>
              </div>
              <div class="col-md-3 float-right">
                  <mat-card class="example-card">
                      <mat-card-header>
                        <mat-card-title>White horse</mat-card-title>
                        <mat-card-subtitle>2 LITROS</mat-card-subtitle>
                      </mat-card-header>
                      <img mat-card-image src="../../../assets/imagens/bebidas-alcolicas/white_horse.jpg" alt="Photo of a Shiba Inu" class="foto-card">
                      <mat-card-content>
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                          In congue felis vitae nulla aliquam posuere. Vivamus ullamcorper vel enim a tincidunt. 
                          Ut consequat rutrum orci et faucibus. Donec dictum lectus sed sapien consectetur lacinia. 
                          Phasellus a ipsum ac nunc auctor cursus. Aenean semper, libero id sagittis placerat, 
                          sem mi condimentum lectus, vel finibus lacus nisi at sem. Suspendisse at scelerisque
                          turpis.
                        </p>
                      </mat-card-content>
                    </mat-card>
              </div>
              <div class="col-md-3 float-right">
                  <mat-card class="example-card">
                      <mat-card-header>
                        <mat-card-title>Jack Daniels Honey</mat-card-title>
                        <mat-card-subtitle>2 LITROS</mat-card-subtitle>
                      </mat-card-header>
                      <img mat-card-image src="../../../assets/imagens/bebidas-alcolicas/jack-honey.jpg" alt="Photo of a Shiba Inu" class="foto-card">
                      <mat-card-content>
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                          In congue felis vitae nulla aliquam posuere. Vivamus ullamcorper vel enim a tincidunt. 
                          Ut consequat rutrum orci et faucibus. Donec dictum lectus sed sapien consectetur lacinia. 
                          Phasellus a ipsum ac nunc auctor cursus. Aenean semper, libero id sagittis placerat, 
                          sem mi condimentum lectus, vel finibus lacus nisi at sem. Suspendisse at scelerisque
                        </p>
                      </mat-card-content>
                    </mat-card>
              </div>
              <div class="col-md-3 float-right">
                  <mat-card class="example-card">
                      <mat-card-header>
                        <mat-card-title>Jack Apple</mat-card-title>
                        <mat-card-subtitle>2 LITROS</mat-card-subtitle>
                      </mat-card-header>
                      <img mat-card-image src="../../../assets/imagens/bebidas-alcolicas/jack-apple.jpg" alt="Photo of a Shiba Inu" class="foto-card">
                      <mat-card-content>
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                          In congue felis vitae nulla aliquam posuere. Vivamus ullamcorper vel enim a tincidunt. 
                          Ut consequat rutrum orci et faucibus. Donec dictum lectus sed sapien consectetur lacinia. 
                          Phasellus a ipsum ac nunc auctor cursus. Aenean semper, libero id sagittis placerat, 
                          sem mi condimentum lectus, vel finibus lacus nisi at sem. Suspendisse at scelerisque
                          turpis.
                        </p>
                      </mat-card-content>
                    </mat-card>
              </div>
              <div class="col-md-3 float-right">
                  <mat-card class="example-card">
                      <mat-card-header>
                        <mat-card-title>Jack</mat-card-title>
                        <mat-card-subtitle>2 LITROS</mat-card-subtitle>
                      </mat-card-header>
                      <img mat-card-image src="../../../assets/imagens/bebidas-alcolicas/jack.jpg" alt="Photo of a Shiba Inu" class="foto-card">
                      <mat-card-content>
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                          In congue felis vitae nulla aliquam posuere. Vivamus ullamcorper vel enim a tincidunt. 
                          Ut consequat rutrum orci et faucibus. Donec dictum lectus sed sapien consectetur lacinia. 
                          Phasellus a ipsum ac nunc auctor cursus. Aenean semper, libero id sagittis placerat, 
                          sem mi condimentum lectus, vel finibus lacus nisi at sem. Suspendisse at scelerisque
                          turpis.
                        </p>
                      </mat-card-content>
                    </mat-card>
              </div>
              <div class="col-md-3 float-right">
                  <mat-card class="example-card">
                      <mat-card-header>
                        <mat-card-title>Gin tanqueray</mat-card-title>
                        <mat-card-subtitle>2 LITROS</mat-card-subtitle>
                      </mat-card-header>
                      <img mat-card-image src="../../../assets/imagens/bebidas-alcolicas/gin-tanqueray.jpg" alt="Photo of a Shiba Inu" class="foto-card">
                      <mat-card-content>
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                          In congue felis vitae nulla aliquam posuere. Vivamus ullamcorper vel enim a tincidunt. 
                          Ut consequat rutrum orci et faucibus. Donec dictum lectus sed sapien consectetur lacinia. 
                          Phasellus a ipsum ac nunc auctor cursus. Aenean semper, libero id sagittis placerat, 
                          sem mi condimentum lectus, vel finibus lacus nisi at sem. Suspendisse at scelerisque 
                          turpis.
                        </p>
                      </mat-card-content>
                    </mat-card>
              </div>
              <div class="col-md-3 float-right">
                <mat-card class="example-card">
                    <mat-card-header>
                      <mat-card-title>Gordon's Gin</mat-card-title>
                      <mat-card-subtitle>2 LITROS</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="../../../assets/imagens/bebidas-alcolicas/gordons-gin.jpg" alt="Photo of a Shiba Inu" class="foto-card">
                    <mat-card-content>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                          In congue felis vitae nulla aliquam posuere. Vivamus ullamcorper vel enim a tincidunt. 
                          Ut consequat rutrum orci et faucibus. Donec dictum lectus sed sapien consectetur lacinia. 
                          Phasellus a ipsum ac nunc auctor cursus. Aenean semper, libero id sagittis placerat, 
                          sem mi condimentum lectus, vel finibus lacus nisi at sem. Suspendisse at scelerisque
                          turpis.
                      </p>
                    </mat-card-content>
                  </mat-card>
            </div>
        </div>
     </div>
  </div>
<app-footer></app-footer>