<app-sistema-header></app-sistema-header>
<div class="d-flex">
    <div class="container-fluid">
        <br>
        <div class="row col-md-10 float-right">
            <p class="display- text-center">TESTE PONTUAÇÃO</p>
            <p class="display- text-center">TESTE PONTUAÇÃO</p>
            <p class="display- text-center">TESTE PONTUAÇÃO</p>
            <p class="display- text-center">TESTE PONTUAÇÃO</p>
            <p class="display- text-center">TESTE PONTUAÇÃO</p>
            <p class="display- text-center">TESTE PONTUAÇÃO</p>
            <p class="display- text-center">TESTE PONTUAÇÃO</p>
            <p class="display- text-center">TESTE PONTUAÇÃO</p>
            <p class="display- text-center">TESTE PONTUAÇÃO</p>
            <p class="display- text-center">TESTE PONTUAÇÃO</p>
            <p class="display- text-center">TESTE PONTUAÇÃO</p>
            <p class="display- text-center">TESTE PONTUAÇÃO</p>
            <p class="display- text-center">TESTE PONTUAÇÃO</p>
            <p class="display- text-center">TESTE PONTUAÇÃO</p>
            <p class="display- text-center">TESTE PONTUAÇÃO</p>
            <p class="display- text-center">TESTE PONTUAÇÃO</p>
        </div>
    </div>
</div>
<app-sistema-menu></app-sistema-menu>